<ijudy-steps [display]=displaySteps [activeIndex]=activeIndex></ijudy-steps>
<div class="p-gird">
    <div class="p-col-12"></div>
</div>
<form [formGroup]="raceForm" (ngSubmit)="onSubmit()">
        <div class="newRace">
            
            <div class="p-grid eventListMainTitle  newRace-row">
                <div class="p-col-2 label">Name*</div>
                <div class="p-col-8 event-name">
                    <input type="text" pInputText placeholder="Name of Race" formControlName="raceName" style="width: 80%">  
                </div>
            </div>

            <div class="p-grid newRace-row">
                <div class="p-col-2 label">Date*</div>
                <div class="p-col-8 event-date" >
                    <p-calendar [minDate]="minDateValue" formControlName="raceDate" dateFormat="yy-mm-dd"
                                placeholder="When is the Race?" [touchUI]="true" [readonlyInput]="true" style="width: 80%"></p-calendar>
                </div>
            </div>

            <div class="p-grid newRace-row">
                <div class="p-col-2 label">Type*</div>
                <div class="p-col-8">
                        <p-multiSelect  [options]="raceTypes" filter=false filterPlaceHolder="Choose..." defaultLabel="Choose Race Types" 
                                        formControlName="selectedRaceTypes" optionLabel="name" dataKey="id" showToggleAll=true style="width: 80%">
                        </p-multiSelect>
                </div>
            </div>          
            
            <div class="p-grid newRace-row">
                <div class="p-col-2 label">Details</div>
                <div class="p-col-8 event-desc" >
                    <textarea formControlName="raceDescription" 
                                [cols]="30" pInputTextarea 
                                autoResize="autoResize" style="width: 80%">
                    </textarea>
                </div>
            </div>

            <div class="p-grid newRace-row">
                    <div class="p-col-2 label">
                        Web site
                    </div>
                    <div class="p-col-8 event-url" >
                    <div class="p-inputgroup">
                        <input type="text" pInputText placeholder="e.g http://www.race.com/" formControlName="raceUrl">      
                    </div>
                    </div>
            </div>
            <div class="p-col-12 p-mb-3"></div>
            
            <div class="p-grid button-panel ">
       
                <div class="p-col-6" >
                    <button (click)="cancel($event)" style="width:auto;" 
                            pButton type="button"
                            class="p-button-rounded p-button-secondary"  label="Cancel"></button>
                </div>
       
                <div class="p-col-6" >
                    <button (click)="onSubmit()" style="width:auto;" 
                            pButton type="button" class="p-button-rounded p-button-success" label="Next"></button>
                </div>
            </div>
    </div>

</form>