<div class="ui-g-12">
    <div class="ui-g-6 ui-g-nopad" style="text-align: center;">
        <button  iconPos="center" (click)="onDeleteRace($event)" 
                 pButton type="button" icon="fas fa-times-circle" 
                 class="ui-button-rounded  ui-button-danger" ></button>
        </div>
    <div class="ui-g-6 ui-g-nopad" style="text-align: center;">
        <button iconPos="center" (click)="onCloneRace($event)" 
                pButton type="button" icon="far fa-copy"
                class="ui-button-rounded ui-button-success"></button>
    </div>
</div>
