.author {
        font-size: 0.8rem;
        font-weight: 400;
        color:darkgreen;
        font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
        text-align: center;
}

.admin {
    font-size: 0.8rem;
    font-weight: 400;
    color:darkred;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    text-align: center;
}