hr {
    border-top: 1px solid red;
}
.label {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}

.value {
    text-align: left;
    font-size: 16px;
    color: darkgray;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}

:host >>> .p-card-header {
    padding-top: 15px;
    font-size: large;
    text-align: center;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

:host >>> .p-card-content {
   font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
   font-size: large;
   font-weight: normal;
   font-size: 14px;
}