<ijudy-grid></ijudy-grid>
<p-confirmDialog header="Delete Race" icon="pi pi-exclamation-triangle" appendTo="body"></p-confirmDialog>
<!--
    <p-table #tt 
        [columns]="cols" 
        [value]="races" 
        [paginator]="true" 
        [(selection)]="selectedRace" 
        [rows]="10" 
        [globalFilterFields]="['id','name']" 
        [resizableColumns]="true"
        [loading]="loading"
        (onEditComplete)="onEditComplete($event)"
      >
  <ng-template pTemplate="caption">
      <div class="ui-g ui-fluid">
        <div class="ui-g-12 ">
          <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
          <input type="text" pInputText size="50" placeholder="Global Filter" (input)="tt.filterGlobal($event.target.value, 'contains')" style="width:auto">
        </div>
      </div>
      <div class="ui-g ui-fluid">
        <div class="ui-g-1 ">
            <button type="button" pButton icon="fas fa-file-export" iconPos="left" label="All Data" (click)="tt.exportCSV()" style="float:left"></button>
        </div>
        <div class="ui-g-1 ">
            <button type="button" pButton icon="fas fa-sync" iconPos="left" label="Refresh" (click)="refreshData()" style="float:left"></button>
        </div>
        <div class="ui-g-9 "></div>
        <div class="ui-g-1 ">
          <button type="button" pButton icon="fas fa-file-export" iconPos="left" label="Selection" (click)="tt.exportCSV({selectionOnly:true})" 
          style="float:right"></button>
        </div>
      </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
            {{col.header}}
            <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
    </tr>
</ng-template>
  <ng-template pTemplate="body" let-race let-rowIndex="rowIndex">
      <tr>

          <td [pEditableColumn]="race" [pEditableColumnField]="'name'" class="ui-resizable-column" title="{{race.id}}">
              <p-cellEditor>
                  <ng-template pTemplate="input">
                      <input pInputText type="text" [(ngModel)]="race.name">
                  </ng-template>
                  <ng-template pTemplate="output">
                      {{race.name}}
                  </ng-template>
              </p-cellEditor>
          </td>
          
          <td [pEditableColumn]="race" [pEditableColumnField]="'description'" class="ui-resizable-column">
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <textarea [rows]="5" [cols]="30"[(ngModel)]="race.description" pInputTextarea autoResize="autoResize"></textarea>
                </ng-template>
                <ng-template pTemplate="output">
                    {{race.description}}
                </ng-template>
            </p-cellEditor>
        </td>

        <td [pEditableColumn]="race" [pEditableColumnField]="'date'" >
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <p-calendar [(ngModel)]="race.date" [inline]="true" dateFormat="yy-mm-dd" (onSelect)="onRaceDateComplete(race, $event, rowIndex)"></p-calendar>
                </ng-template>
                <ng-template pTemplate="output">
                    {{race.raceDateDesc}}
                </ng-template>
            </p-cellEditor>
        </td>

        <td [pEditableColumn]="race" [pEditableColumnField]="'url'" class="ui-resizable-column">
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <span><input type="text" [(ngModel)]="race.url"></span><p>
                    <span><a href="{{race.url}}" target="_blank"><i class="fas fa-external-link-alt"></i></a></span>
                </ng-template>
                <ng-template pTemplate="output">
                    {{race.url}}
                </ng-template>
            </p-cellEditor>
        </td>

        <td [pEditableColumn]="race" [pEditableColumnField]="'address'" class="ui-resizable-column"> 
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <p-dropdown [options]="locations" 
                                [(ngModel)]="race.address" 
                                required="true" 
                                showClear=true 
                                autoDisplayFirst=false 
                                resetFilterOnHide=true 
                                dataKey=id 
                                optionLabel="location" 
                                filter=true
                                [style]="{'width':'100%'}" 
                                appendTo="body">
                    </p-dropdown>
                </ng-template>
                <ng-template pTemplate="output">
                    {{race.address.location}}
                </ng-template>
            </p-cellEditor>
        </td>
        <td [pEditableColumn]="race" [pEditableColumnField]="'public'" >
            <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-inputSwitch [(ngModel)]="race.public"></p-inputSwitch>
                    </ng-template>
                    <ng-template pTemplate="output">
                        <p-inputSwitch [(ngModel)]="race.public"></p-inputSwitch>
                    </ng-template>
            </p-cellEditor>            
        </td>

        <td [pEditableColumn]="race" [pEditableColumnField]="'raceTypes'" class="ui-resizable-column"> 
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-multiSelect  [options]="raceTypes" 
                                    [(ngModel)]="race.raceTypes" 
                                    dataKey=id 
                                    optionLabel="name" 
                                    filter=true 
                                    [style]="{'width':'100%'}" 
                                    appendTo="body">
                        </p-multiSelect >
                    </ng-template>
                    <ng-template pTemplate="output">
                        <ul>
                            <li *ngFor="let raceType of race.raceTypes; let i = index">
                                {{raceType.name}}
                            </li>
                        </ul>
                    </ng-template>
                </p-cellEditor>
        </td>

        <td [pEditableColumn]="race" [pEditableColumnField]="'authorId'" >
            <p-cellEditor>
                <ng-template pTemplate="input">
                    <p-dropdown 
                        [options]="users"
                        [(ngModel)]="race.authorId" 
                        (onChange)="onDropdownEditComplete($event, race, 'authorId', rowIndex)" 
                        dataKey="id" 
                        optionLabel="name" 
                        filter="true"
                        [style]="{'width':'100%'}" 
                        appendTo="body">
                    </p-dropdown>
                </ng-template>
                <ng-template pTemplate="output">
                       <span *ngFor="let user of users; let i = index">
                            <span *ngIf="user.id === race.authorId" title="Author ID : {{race.authorId}}">
                                {{user.name}}
                            </span>
                       </span>
                </ng-template>
            </p-cellEditor>            
        </td>
        
        <td>
            <div class="ui-g-12 ui-g-nopad">
                <div class="ui-g-3 ">
                    <button type="text" (click)="confirm(race.id)" pButton icon="fas fa-calendar-times" title="Del"></button>
                </div>
                <div class="ui-g-3 ">
                    <button type="text" (click)="clone(race.id)" pButton icon="far fa-clone" title="Clone"></button>
                </div>
                <div class="ui-g-3 ">
                    <button type="text" (click)="addNew()" pButton icon="fa fa-plus" title="Add"></button>
                </div>
            </div>
        </td>
      </tr>
  </ng-template>
</p-table>

<p-dialog [(visible)]="display" [style]="{width: '600px', height: '800px'}">
    <p-header>
        Add New Race
    </p-header>
        <form [formGroup]="raceForm" (ngSubmit)="onSubmit()" >
            <div class="ui-g ui-fluid">
                <article class="eventList">
                    <div class="ui-g-12 eventListMainTitle ui-g-nopad">
                    <div class="ui-g-2 label">
                        Name*
                    </div>
                    <div class="ui-g-10 event-name">
                        <input type="text" pInputText placeholder="Race Name" formControlName="raceName">  
                    </div>
                </div>
                <div class="ui-g-12  ui-g-nopad">
                        <div class="ui-g-2 label">
                           Date*
                        </div>
                        <div class="ui-g-10 event-date" >
                            <p-calendar formControlName="raceDate" dateFormat="yy-mm-dd" placeholder="Race date" ></p-calendar>
                        </div>
                </div>
                <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-2 label">
                          Type*
                        </div>
                        <div class="ui-g-10">
                              <p-multiSelect [options]="raceTypes" filter=false filterPlaceHolder="Choose..." defaultLabel="Choose Race Types" 
                                formControlName="selectedRaceTypes" optionLabel="name" dataKey="id" showToggleAll=true>
                              </p-multiSelect>
                        </div>
                </div>   
                <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-2 label">Desc</div>
                        <div class="ui-g-10 event-desc" >
                            <textarea  formControlName="raceDescription" [cols]="30" pInputTextarea autoResize="autoResize"></textarea>
                        </div>
                </div>                
                <div class="ui-g-12 ui-g-nopad">
                        <div class="ui-g-2 label">URL</div>
                        <div class="ui-g-10 event-url" >
                          <div class="ui-inputgroup">
                              <span class="ui-inputgroup-addon">www</span><input type="text" pInputText placeholder="Website" formControlName="raceUrl">      
                          </div>
                        </div>
                  </div>
                  <div class="ui-g-2 label">Location</div>
                      <div class="ui-g-10">
                          <p-dropdown 
                            [options]="locations" 
                            formControlName="locationId"
                            required="true" 
                            showClear=true 
                            autoDisplayFirst=false 
                            resetFilterOnHide=true 
                            dataKey=id 
                            optionLabel="location" 
                            filter=true
                            [style]="{'width':'100%'}" 
                            appendTo="body">
                          </p-dropdown>
                      </div>
                      <div class="ui-g-12">
                            <div class="ui-g-4">
                            </div>
                            <div class="ui-g-2">
                                    <button  iconPos="center" (click)="cancel($event)" pButton type="button" icon="fas fa-times-circle" 
                                             class="ui-button-rounded  ui-button-danger"></button>
                                </div>
                            <div class="ui-g-2">
                                <button iconPos="center" (click)="onSubmit()" pButton type="button" icon="fas fa-plus"
                                        class="ui-button-rounded ui-button-success"></button>
                            </div>
                        </div>
                </article>
            </div>
        </form>
 
</p-dialog>
-->