.raceName {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 5px;
    display: block;
    font-weight: bold;
    text-align: center;
    border-top: solid 3px #DC0025;
    border-right: solid 2px #DC0025;
    border-left: solid 2px #DC0025;
    background:seashell;
}

.race-date {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: block;
    font-weight: bold;
    text-align: center;
    border-right: solid 2px #DC0025;
    border-left: solid 2px #DC0025;
    background:seashell;
}

.race-description {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    text-align: left;
    border-right: solid 2px #DC0025;
    border-left: solid 2px #DC0025;
    background:seashell;
}

.race-location {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-size: 18px;
    display: block;
    font-weight: bold;
    text-align: center;
    border-right: solid 2px #DC0025;
    border-left: solid 2px #DC0025;
    background:seashell;
}
.race-types-list{
    padding-left: 0px;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    text-align: left;
    border-right: solid 2px #DC0025;
    border-left: solid 2px #DC0025;
    border-bottom: solid 3px #DC0025;
}

.label {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}

.race-types {
    font-size: 20px;
    line-height: 26px;
}

.race-hotel {
    color: black;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 100%;
    padding-inline-start: 10px;
}

.btn-label{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}

.value {
    text-align: left;
    font-size: 16px;
    color: darkgray;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}

.race-form {
    border-right: solid 3px #DC0025;
    border-left: solid 3px #DC0025;
    border-bottom: solid 3px #DC0025;
    background:seashell;
}

.button-panel{
    border-top: solid 3px #DC0025;
    background:lightgray;
}
