*.launch
.idea/
*.iml
/logs
/bin

ournextrace-ng/target/
ournextrace-ng/.idea/
ournextrace-ng/.settings/
ournextrace-ng/node/node_modules/
ournextrace-ng/package-lock.json
ournextrace-ng/.editorconfig
ournextrace-ng/node/

ournextrace-sb/target/
ournextrace-sb/.idea/
ournextrace-sb/logs/
ournextrace-sb/bin/shutdown.pid
ournextrace-sb/.classpath
ournextrace-sb/src/main/webapp/WEB-INF/classes/

ournextrace-db/target/
ournextrace-db/.idea/
