    <div class="grid filterPanel">
                <div class="col-12 bottomBorder">
                </div>
                <div class="col-12 filterTitle">Race Types</div>
                <div class="col-12 ">
                    <ijudy-select-races (raceTypesSelectedChange)=filtersChanged($event) [(selectedRaceTypes)]=selectedRaceTypes></ijudy-select-races>
                </div>
                <div class="col-12 bottomBorder"></div>
                <div class="col-6" style="padding-left: 10px;">
                    <div class="col-4 filterTitle">Start Date</div>
                    <div class="col-6 ">
                        <p-calendar 
                            [(ngModel)]="nativeMinDate" 
                            dateFormat="yy/mm/dd"
                            (onMonthChange)="yearMonthChanged($event, true)"
                            (onYearChange)="yearMonthChanged($event, true)"
                            (onSelect)=filtersChanged($event)
                            ></p-calendar>
                    </div>
                </div>
                <div class="col-6">
                        <div class="col-3 filterTitle">End&nbsp; Date</div>
                        <div class="col-6 ">
                            <p-calendar 
                                [(ngModel)]="nativeMaxDate" 
                                dateFormat="yy/mm/dd"
                                (onMonthChange)="yearMonthChanged($event, false)"
                                (onYearChange)="yearMonthChanged($event, false)"
                                (onSelect)=filtersChanged($event)
                                >
                            </p-calendar>
                        </div>
                </div>
                <div class="col-12 bottomBorder"></div>
                <div class="col-6" style="text-align: center;">
                    <button
                        (click)="onReset($event)"
                        pButton type="button"
                        style="width:auto;"
                        class="ui-button-rounded ui-button-warning"
                        label="Reset"></button>
                </div>
                <div class="col-6" style="text-align: center;">
                    <button
                        (click)="onHide($event)"
                        pButton type="button"
                        style="width:auto;"
                        class="ui-button-rounded ui-button-primary"
                        label="Search"></button>
                </div>
    </div>

