/* Red border */
hr {
    border: 1px solid red;
}

.input-text {
    height: 2em;
    text-indent: 10px;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    width: 100%;
}

.error-message {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    color: red;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}

.label {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}
.value {
    text-align: left;
    font-size: 16px;
    color: darkgray;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}

:host >>> .p-sidebar {
    background: #252526;
    padding-top: 0px;
    padding-right: 4px;
    padding-left: 4px;
    padding-bottom: 0px;
    margin-bottom: 8px;
    color: #fff;
    line-height: 20px;
    font-size: 16px;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    width: 320px;
}

.social-policy-header {
    font-weight: bolder;
}

.social-policy {
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-size: smaller;
}
.social-policy-header {
    border-top-color: red;
    border-top-width: 3px;
}
.why-login-header {
     border-top-width: 1px;
}
.why-login-header-header{
    padding-left: 10px;
}
.close-button {
    padding-top: 3px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 5px;
    font-size: 18px;
    text-align: end;
}

:host >>> .p-card-header {
    font-size: smaller;
    text-align: center;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

:host >>> .p-card-content {
   font-size: smaller;
   font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
   font-weight: normal;
}

:host >>> .p-card-body{
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
 }

.google-button {
    height: 40px;
    border-width: 0;
    background: white;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    padding: 0;
}
.google-button:focus{
     box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}
.google-button:hover {
    cursor: pointer; 
}
.google-button:active {
      background-color: #e5e5e5;
      box-shadow: none;
      transition-duration: 10ms;
}

.google-button__icon {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

.google-button__icon--plus {
  width: 27px;
}

.google-button__text {
  display: inline-block;
  vertical-align: middle;
  margin-top: 6px;
  margin-bottom: 10px;
  margin-right: 30px;
  margin-left: 10px;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto',arial,sans-serif;
}

button ~ button {
  margin-left: 20px;
}

.reset-password {
    cursor: pointer;
}
