<p-toast position="bottom-center"></p-toast>

  <form [formGroup]="resetPasswordForm">
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ">
            <div class="ui-g-4 label">
                Password
            </div>
            <div class="ui-g-8 value">
                <input 
                pPassword 
                type="password" 
                placeholder="New Password" 
                autocomplete="new-password" 
                formControlName="password" 
                />
            </div>
        </div>
        <div class="ui-g-12 ">
            <p-message severity="error" text="Password must be a minimum of 8 characters and max of 14" 
            *ngIf="!resetPasswordForm.controls['password'].valid&&resetPasswordForm.controls['password'].dirty"></p-message>
            
            <p></p>
            <p-message severity="error" text="Needs One Lower Case Character" 
            *ngIf="!hasLower()&&resetPasswordForm.controls['password'].dirty"></p-message>
            
            <p></p>
            <p-message severity="error" text="Needs One Uper Case Character" 
            *ngIf="!hasUpper()&&resetPasswordForm.controls['password'].dirty"></p-message>

            <p></p>
            <p-message severity="error" text="Needs One Number" 
            *ngIf="!hasNumber()&&resetPasswordForm.controls['password'].dirty"></p-message>

            <p></p>
            <p-message severity="error" text="Needs Special Character" 
            *ngIf="!hasSpecial()&&resetPasswordForm.controls['password'].dirty"></p-message>
        </div>
        <div class="ui-g-12 ">
            <div class="ui-g-4 label">
                Confirm Password
            </div>
            <div class="ui-g-7 value">
                <input 
                pPassword 
                type="password" 
                placeholder="New Password Confirmation"
                autocomplete="new-password" 
                formControlName="confirmPassword"/>
            </div>
        </div>
        <div class="ui-g-12 ">
            <p-message severity="error" text="Passwords must match password" 
            *ngIf="!getPasswordsMatch()&&resetPasswordForm.controls['password'].dirty"></p-message>
        </div>
        <div class="ui-g-12 ">
              <div class="ui-g-1 "></div>
              <div class="ui-g-4 ">
                  <button pButton type="button" label="Reset" (click)="onReset($event)" [disabled]="!resetPasswordForm.valid"></button>
              </div>
              <div class="ui-g-4 ">
                  <button pButton type="button" class="ui-button-secondary" label="Cancel" (click)="cancel($event)" ></button>
              </div>
          </div>
          <div class="ui-g password-policy-header">
            <div class="ui-g-12 ">
                <p-card styleClass="ui-card-shadow">
                    <p-header>
                        Password Complexity Requirements
                    </p-header>
                    {{passwordPolicy}}
                </p-card>
            </div>
        </div>
      </div>
  </form>