<ijudy-sidebar [(visible)]="_showSideMenu"></ijudy-sidebar>
<div class="ui-xl-12 topGetToKnowUs ">
    <div class="ui-g-9 topGetToKnowUsTitle">
        Get to Know Us
    </div>
    <div class="ui-g-3 topGetToKnowUsMenu" (click)="showSideMenu(true)">
        <i class="fas fa-bars hamburger"></i>
    </div>
</div>

<div class="ui-xl-12 aboutUsBlockContent">
    <h1>Who We Are</h1>
    <p class="aboutUsContent" >OurNextRace.com was created to answer a simple question quickly and share with your friends. When
        is our next race? Usually this questions comes up after your last race, when you see someone new or during a training
        run and bump into friends.</p>
    <p class="aboutUsContent">This web site started as a vehicle to learn the latest technologies and keep the saw sharp.
        After a while rather than just say you know about Angular, REST, Java, Spring, AWS, Cloud Programming, RDMS, HTML, CSS and
        the endless alphabet soup of technologies why not build a website that will benefit from all of this work. Also since you
        love sharing why not make the site free to avoid dealing with pay walls, subscriptions. If you do something you love, it's not work. 
        And if you can share it with your friends it makes the hours and costs all worth it.</p>
    <p class="aboutUsContent" style="text-align: center;"><strong>While there is no guarantee of perfection there is a 100% assurance
        that we'll take your feedback seriously. Let us know and above find your next race with us. Be epic!
    </strong></p>
</div>

<div class="ui-g-12 ui-xl-12 smallTitle">Our Mission</div>
<div class="ui-g-12 ui-xl-12 smallText">Help people discover and share active experiences with their friends</div>
<div class="ui-g-12 ui-xl-12 smallTitle">Our essence</div>
<div class="ui-g-12 ui-xl-12 smallText">If there is a new technology how can we learn it and apply it intelligently?</div>
<div class="ui-g-12 ui-xl-12 smallTitle">Core Values</div>
<div class="ui-g-12 ui-xl-12 smallText">Your data is your data. Nothing personal or identifiable will be shared. This means
    your email, address or phone numbers.
</div>
<div class="ui-g-12 ui-xl-12 smallTitle">What do we Get?</div>
<div class="ui-g-12 ui-xl-12 smallText">This site is calling card to others willing to hire us.  If you like the style, design or 
    content you will do business with us?
</div>

