.race-date{
    padding-left: 0px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 5px;
}
.race-type{
    padding-left: 0px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 5px;
}
.race-name {
    padding-left: 0px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 5px;
}

.race-url{
    padding-left: 0px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 5px;
}

.race-desc{
    padding-left: 0px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 5px;
}

.race-address{
    padding-left: 0px;
    padding-top: 3px;
    padding-right: 3px;
    padding-bottom: 5px;
}

.label {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    padding-left: 3px;
    padding-top: 3px;
    padding-right: 0px;
    padding-bottom: 0px;
}
.value {
    text-align: left;
    font-size: 16px;
    color: darkgray;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}

.eventListTitle {
    border-top: solid 3px #DC0025;
    background: #f5f5f5;
}
.eventListMainTitle{
    border-top: solid 3px #DC0025;
    background:seashell;
}

.eventListMainSubTitle{
    color: #000;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    display: block;
}
.eventList {
    border-top: solid 3px #DC0025;
    border-bottom: solid 3px #DC0025;
    background: #f5f5f5;
}

.button-panel{
    border-top: solid 3px #DC0025;
    background: white;
}
.button-panel-label {
    font-weight: bold;
    background: white;
}
