<form [formGroup]="raceForm" (ngSubmit)="onSubmit()">
  <div class="ui-g eventList ui-fluid">
          <div class="ui-g-12  ui-g-nopad eventListMainTitle">
            <div class="ui-g-3 label">
               Race Name*
            </div>
            <div class="ui-g-9 race-name">
                <input type="text" pInputText placeholder="Enter Race Name" formControlName="raceName">  
            </div>
        </div>
        <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-3 label">
                Race Types*
            </div>
            <div class="ui-g-9 race-type">
                <p-multiSelect  [options]="raceTypes" 
                                filter=false 
                                filterPlaceHolder="Choose..." 
                                defaultLabel="Update Race Types" 
                                formControlName="selectedRaceTypes"
                                optionLabel="name" 
                                dataKey="id" 
                                showToggleAll=true>
                </p-multiSelect>
            </div>
        </div>
        <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-3 label">
               Date*
            </div>
            <div class="ui-g-9 race-date" >
                <p-calendar formControlName="raceDate" dateFormat="yy-mm-dd"
                placeholder="Choose Event Date" ></p-calendar>
            </div>
        </div>
        <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-3 label">
                Description
            </div>
            <div class="ui-g-9 race-desc" >
                <textarea formControlName="raceDescription" 
                [rows]="5" [cols]="30" pInputTextarea 
                autoResize="autoResize"></textarea>
            </div>
        </div>
        <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-3 label">
              Address
            </div>
            <div class="ui-g-9 race-address">
              <p-dropdown [options]="addresses" 
                          [filter]="true"
                          optionLabel="location" 
                          dataKey="id" 
                          showClear=true
                          [style]="{'width':'100%'}" 
                          formControlName="raceAddress">
            </p-dropdown>
            </div>
        </div>
        <div class="ui-g-12 ui-g-nopad ">
              <div class="ui-g-3 label">
                    Web site
              </div>
              <div class="ui-g-9 race-url" >
                    <input type="text" pInputText placeholder="Website" formControlName="raceUrl">      
              </div>
        </div>
        <div class="ui-g-12 ui-g-nopad ">
            <div class="ui-g-3 label">
                  Status
            </div>
            <div class="ui-g-9 race-status" >
                <p-inputSwitch formControlName="cancelled"></p-inputSwitch>
            </div>
      </div>
        <div class="ui-g-12 button-panel">
            <div class="ui-g-6">
                <button pButton type="button" iconPos="left" label ="Cancel" icon="fas fa-angle-double-left"
                (click)="cancel($event)" style="width:auto;"
                class="ui-button-rounded ui-button-secondary"></button>
            </div>
            <div class="ui-g-6" style="text-align: center;"  >
            <button pButton type="button" iconPos="right" label ="Update" icon="fas fa-angle-double-right" 
                    (click)="onSubmit()" style="width:auto;"
                    class="ui-button-rounded"></button>
            </div>
        </div>
      
  </div>
</form>