.race-name{
    color: black;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    border-top: solid 2px #DC0025;
    border-right: solid 2px #DC0025;
    border-left: solid 2px #DC0025;
    background:seashell;
}
.race-date{
    color: black;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-right: solid 2px #DC0025;
    border-left: solid 2px #DC0025;
    background:seashell;
}
.race-description {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    text-align: left;
    border-right: solid 2px #DC0025;
    border-left: solid 2px #DC0025;
    border-bottom: solid 2px #DC0025;
    background:seashell;
}

.race-hotel {
    color: black;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-size: 14px;
    width: 100%;
    padding-inline-start: 10px;
}

.label {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}
.value {
    font-size: 14px;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}

.btn-label{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}


.button-panel{
    border-top: solid 3px #DC0025;
    background:lightgray;
}

