<p-toast key="error" sticky=true></p-toast>
<ijudy-steps [display]=displaySteps [activeIndex]=activeIndex></ijudy-steps>
<div class="ui-g ui-fluid">
  <div class="ui-g-12 race-name" title="{{race.description}}">
    {{race.name}}
  </div>
  <div class="ui-g-12 race-date" >
      {{race.date | date : 'EEE, LLL d y'}}
  </div>
  <div class="ui-g-12 race-description">
    <p-accordion>
      <p-accordionTab header="Race Details...(Click for More)" [selected]="false">
        {{race.description}}
      </p-accordionTab>
    </p-accordion>
  </div>
</div>
<form [formGroup]="raceForm" (ngSubmit)="onSubmit()">
  <div class="ui-g ui-fluid">

      <div class="ui-g-12 ">
          <div class="ui-g-3 label ">Going?</div>
          <div class="ui-g-7 ui-xl-3 ui-lg-3 ui-md-3 ui-sm-7">
            <ijudy-interested  [showDelete]=false [(raceStatus)]=attendingStatus></ijudy-interested>
          </div>
      </div>
      <div class="ui-g-12 ">
          <div class="ui-g-3 label ">Race Types</div>
          <div class="ui-g-7 ui-xl-3 ui-lg-3 ui-md-3 ui-sm-7 value">
              <p-multiSelect [options]="race.raceTypes" 
                            [filter]=false 
                            filterPlaceHolder="Choose Race Type" 
                            defaultLabel="Choose Race Types" 
                            formControlName="selectedRaceTypes" 
                            optionLabel="name" 
                            dataKey="id" 
                            [showToggleAll]=false>
            </p-multiSelect>
          </div>
      </div>
      <div class="ui-g-12 ">
          <div class="ui-g-3 label">Staying</div>
          <div class="ui-g-7 ui-xl-3 ui-lg-3 ui-md-3 ui-sm-7 ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fas fa-hotel"></i></span>
            <input type="text" pInputText placeholder="Hotel Name" formControlName="raceHotel" class="race-hotel" >         
          </div>
      </div>
      <div class="ui-g-12 ">
        <div class="ui-g-3 label">
          Sign Up Date
        </div>
        <div class="ui-g-7 ui-xl-3 ui-lg-3 ui-md-3 ui-sm-7">
            <p-calendar formControlName="raceRegDate" placeholder="Choose Registration Date" [showIcon]="true"></p-calendar>
        </div>
      </div>
      <div class="ui-g-12">
        <p-editor formControlName="notes" [style]="{'height':'120px'}">
            <p-header>
                <span class="ql-formats">
                     <button class="ql-bold"></button>
                     <button class="ql-italic"></button>
                     <button class="ql-underline"></button>
                </span>
                <span class="btn-label">Your Race Notes</span>
            </p-header>
        </p-editor>
      </div>
      <div class="ui-g-12 button-panel">
          <div [ngClass]="{
            'ui-g-4':shouldDisplayAddLocation(),
            'ui-g-6':!shouldDisplayAddLocation()
            }"  style="text-align: center;">
            <button pButton type="button" iconPos="left" label ="Cancel" icon="fas fa-angle-double-left"
                    (click)="onCancel($event)" style="width:auto;"
                    class="ui-button-rounded ui-button-secondary"></button>
          </div>
          <div [ngClass]="{
            'ui-g-4':shouldDisplayAddLocation(),
            'ui-g-6':!shouldDisplayAddLocation()
            }"  style="text-align: center;">
            <button pButton type="button" iconPos="left" label ="Finish" icon="fas fa-calendar-plus" 
                    (click)="onSubmit()" style="width:auto;"
                    class="ui-button-rounded ui-button-success"></button>
          </div>
          <div class="ui-g-4" style="text-align: center;" *ngIf="shouldDisplayAddLocation()" >
            <button pButton type="button" iconPos="right" label ="Add Location" icon="fas fa-angle-double-right" 
                    (click)="onSubmitLocation()" style="width:auto;"
                    class="ui-button-rounded"></button>
          </div>
      </div>
  </div>
</form>
