<!--
 export class IRaceType {
    id: number;
    name: string;
    desc?: string;
    shortDesc?: string;
}
-->
<p-multiSelect
        #select  
        [options]="raceTypes"
        editable="true"
        [(ngModel)]="selectRaceTypes"
        optionLabel="name"
        dataKey="id"
        [filter]="true"
        filterBy="name"
        showToggleAll=true
        showClear=true
        placeholder="Select Race Types"
        appendTo="body"
        (onChange)="onSelectChange($event)"
        [style]="{'width':'260px'}"></p-multiSelect>