<div class="p-grid footerShell">
    <div class="p-col-4  p-text-center">
        <div class="linkHeader">Company</div>
        <div class="link"><a [routerLink]="['/about-us']">About Us</a></div>
        <div class="link"><a [routerLink]="['/contact-us']">Contact Us</a></div>
    </div>
    <div class="p-col-4 p-text-center" >
        <div class="linkHeader">Get to Know Us</div>
        <div class="link">
            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/ournextrace">Instagram&nbsp;<i class="fab fa-instagram"></i></a>
        </div>
        <div class="link">
            <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/ournextrace">Facebook&nbsp;<i class="fab fa-facebook"></i></a>
        </div>
        <div class="link">
            <a target="_blank" rel="noopener noreferrer" href="https://www.twitter.com/ournextrace">Tweet Us&nbsp;<i class="fab fa-twitter"></i></a>
        </div>
    </div>
    <div class="p-col-4 p-text-center">
            <div class="linkHeader">Policies</div>
            <div class="link">
                <a target="_blank" rel="noopener noreferrer" href="/assets/html/terms_of_use.html">Terms of Use</a>
            </div>
            <div class="link">
                <a target="_blank" rel="noopener noreferrer" href="/assets/html/privacy_policy.html">Privacy Policy</a>
            </div>
     </div>
</div>
