.footerShell {
    height: 100%; /* You must set a specified height */
    background-color: #393939;
    background-repeat: no-repeat;
    background-size: 100% 60%;
    background-attachment: fixed;
}

.linkHeader{
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 38px;
    color: #d9d9d9;
    margin: 0;
}

.link {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 10px;
    line-height: 38px;
    color: #d9d9d9;
}

a {
    font-size: 12px;
    color: white;
}
a:visited {
    font-size: 12px;
    color: gray;
}