<div class="grid footerShell">
    <div class="col-4  text-center">
        <div class="linkHeader">Company</div>
        <div class="link"><a [routerLink]="['/about-us']">About Us</a></div>
        <div class="link"><a [routerLink]="['/contact-us']">Contact Us</a></div>
    </div>
    <div class="col-4 text-center" >
        <div class="linkHeader">Get to Know Us</div>
        <div class="link">
            <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/SearchForARace">Instagram&nbsp;<i class="fab fa-instagram"></i></a>
        </div>
        <div class="link">
            <a target="_blank" rel="noopener noreferrer" href="https://www.threads.net/@SearchForARace">Threads&nbsp;<i class="fab fa-instagram"></i></a>
        </div>
    </div>
    <div class="col-4 text-center">
            <div class="linkHeader">Policies</div>
            <div class="link">
                <a target="_blank" rel="noopener noreferrer" href="/assets/html/terms_of_use.html">Terms of Use</a>
            </div>
            <div class="link">
                <a target="_blank" rel="noopener noreferrer" href="/assets/html/privacy_policy.html">Privacy Policy</a>
            </div>
     </div>
</div>
