.label {
    padding-left: 15px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}

.race-body {
    color: black;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.btn-label{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}

.race-name{
    color: black;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}

.race-date{
    color: black;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.race-description {
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    padding: 0em;
}

.race-details {
    border-top: solid 2px lightgray;
    border-right: solid 2px lightgray;
    border-left: solid 2px lightgray;
    border-bottom: solid 3px lightgray;
}

.button-panel{
   background: lightgray;
}

