<ijudy-login [visible]=displayLogin></ijudy-login>
<div class="ui-g">
        <div class="ui-g-12 race-name" title="{{race.description}}">
          {{race.name}}
        </div>
        <div class="ui-g-12 race-date ui-g-nopad" >
            {{race.date | date : 'EEE, LLL d y'}}
        </div>
        <div class="ui-g-12 race-description">
          <p-accordion>
            <p-accordionTab header="Race Details (Click for More...)" [selected]="false">
              {{race.description}}
            </p-accordionTab>
          </p-accordion>
        </div>
        <div class="ui-g-12 race-details">
          <div class="ui-g-12 ui-g-nopad">
              <div class="ui-g-3 label">
                Race Types
              </div>
              <div class="ui-g-9 race-body">
                  <ul> 
                      <li *ngFor="let raceType of race.raceTypes; let i = index"  title="{{raceType.desc}}">
                        {{ raceType.name }}
                      </li>
                  </ul>
             </div>
          </div> 
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-3 label">
              Web Site
            </div>
            <div class="ui-g-9 race-body">
                <a href="{{race.url}}" target="_blank">Link to Race</a>
           </div>
        </div>                    
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-3 label">
                  Location
            </div>
            <div class="ui-g-9 race-body" >
                    <div class="ui-g-12 ui-g-nopad">
                      <a href="https://www.google.com/maps/search/?api=1&query={{race.address.location}}" target="_new">
                        <span>{{race.address.location}}</span>
                      </a>
                    </div>
                    <div class="ui-g-12 ui-g-nopad">
                      <span>{{race.address.street}}</span>
                    </div>
                    <div class="ui-g-12 ui-g-nopad">
                      <span>{{race.address.city}}, {{race.address.state}}  {{race.address.zip}}</span>
                    </div>
                    <div class="ui-g-12 ui-g-nopad">
                      <span>{{race.address.phone}}</span>
                    </div>
                    <div class="ui-g-12 ui-g-nopad">
                      <span>{{race.address.notes}}</span>
                    </div>
            </div>
          </div>
          <div class="ui-g-12 ui-g-nopad">
            <div class="ui-g-3 label"></div>
            <div *ngIf="isNotAssigned()" class="ui-g-9">
              <ijudy-interested [readonly]=true (click)="addMyRace()" [(raceStatus)]=attendingStatus></ijudy-interested>
            </div>
          </div>
        </div>
        <div class="ui-g-12 button-panel" style="text-align: center;">
                    <button iconPos="left" 
                            (click)="cancel($event)"
                            pButton type="button" 
                            icon="fas fa-times-circle" 
                            class="ui-button-rounded"
                            style="width:auto;" 
                            label="Back"></button>
          </div>
    </div>
