<p-toast position="bottom-center"></p-toast>
  <form [formGroup]="contactForm">
    <div class="grid">
        <div class="col-12 ">
              <p-editor id="message" formControlName="message" [style]="{'height':'180px'}">
                  <ng-template pTemplate="header">
                    <span class="ql-formats">
                        <button type="button" class="ql-bold" aria-label="Bold"></button>
                        <button type="button" class="ql-italic" aria-label="Italic"></button>
                        <button type="button" class="ql-underline" aria-label="Underline"></button>
                    </span>
                    <span class="btn-label">Tell Us Something</span>
                  </ng-template>
              </p-editor>
        </div>

        <div class="col-1"></div>
        <div class="col-4 text-center">
            <button pButton type="button" class="ui-button-secondary" label="Cancel" 
                    (click)="cancel($event)" ></button>
        </div>
        <div class="col-1"></div>

        <div class="col-1"></div>
        <div class="col-4 text-center">
            <button pButton type="button" label="Send" style="width:auto;" 
                    (click)="onContactUs($event)" [disabled]="!validForm()"></button>
        </div>
        <div class="col-1"></div>

        <div class="col-12" style="padding: 10px;">
            <div style="margin: 0 auto;width: 300px;">
            </div>
        </div>
      </div>
  </form>