<form [formGroup]="updateUserForm" >
    <div class="p-grid panelTitle">
        <div class="p-col-1 "></div>
        <div *ngIf="user" class="p-col-11 ">
            <span class="email-title">
                {{user.email}}
            </span>
        </div>
    </div>
    <div class="p-grid panelTop">       
        <div class="p-col-1"></div>
        <div class="p-col-2 label">
            First Name
        </div>
        <div class="p-col-8">
            <input formControlName="firstName" pInputText id="firstName" type="text" placeholder="First Name">
        </div>
        <div class="p-col-1"></div>

        <div class="p-col-1"></div>
        <div class="p-col-2 label">
            Last Name
        </div>
        <div class="p-col-8">
            <input formControlName="lastName" pInputText id="lastName" type="text" placeholder="Last Name" >
        </div>
        <div class="p-col-1"></div>
        <hr>
    </div>
    <div class="p-grid panelBody">                      
            <div class="p-col-1"></div>
            <div class="p-col-2 label">
                City
            </div>
            <div class="p-col-8">
                <input formControlName="city" pInputText id="city" type="text" placeholder="Enter City" >
            </div>
           <div class="p-col-1"></div>

           <div class="p-col-1"></div>
           <div class="p-col-2 label">
                    State
            </div>
            <div class="p-col-8 " >
                    <p-dropdown 
                        [options]="states" editable="true" [filter]="true"  filterBy="label,value" formControlName="state" placeholder="Select State">
                    </p-dropdown>
            </div>
            <div class="p-col-1"></div>

            <div class="p-col-1"></div>
            <div class="p-col-2 label">
                Zip
            </div>
            <div class="p-col-8">
                <input formControlName="zip" pInputText id="zip" type="text" placeholder="Enter Zip Code" >
            </div>
            <div class="p-col-1"></div>
    </div>
    <div class="p-grid panelBody">                      
              
        <div class="p-col-1"></div>
        <div class="p-col-2 label">
            Country
        </div>
        <div class="p-col-8 " >
            <p-dropdown [options]="countries" editable="true" [filter]="true" filterBy="label,value" formControlName="country" placeholder="Select Country">
            </p-dropdown>
        </div>
        <div class="p-col-1"></div>
    </div>

    <div class="p-grid ">
        <div class="p-col-1"></div>
        <div class="p-col-5 p-mt-3 p-text-center" >
            <button (click)="cancel($event)" 
                    pButton type="button" 
                    class="p-button-rounded p-button-secondary" label="Cancel"></button>
        </div>

        <div class="p-col-5 p-mt-3 p-text-center">
        <button iconPos="right" (click)="onSubmit()" 
                pButton type="button" icon="fas fa-user" 
                class="p-button-rounded p-button-success" label="Save"></button>
        </div>
        <div class="p-col-1"></div>
    </div>

</form>
<br>