.email-title {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}

.label {
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
}
.panelTitle {
    border-top: solid 3px #DC0025;
    border-right: solid 1px #DC0025;
    border-left: solid 1px #DC0025;
    background:seashell;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;

}
.panelBody {
    background: #f5f5f5;
    border-right: solid 1px #DC0025;
    border-left: solid 1px #DC0025;
}
.panelTop {
    border-top: solid 3px #DC0025;
    border-right: solid 1px #DC0025;
    border-left: solid 1px #DC0025;
    background: #f5f5f5;
}


.button-panel{
    border-top: solid 3px #DC0025;
    background: lightgray;
}

.value {
    text-align: left;
    font-size: 16px;
    color: darkgray;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;

}

:host >>> .p-inputtext {
    width: 80%;
}

:host >>> .p-dropdown {
    width: 80%;
}