<p-toast position="bottom-center"></p-toast>

<p-sidebar [(visible)]="visible" styleClass="P-sidebar-md" position="right">
        <div class="p-grid">

          <div class="p-col-1"></div>
          <div class="p-col-11 ijudy-link" (click)="routeToHomePage()">
            Home (Search)
          </div>

          <div class="p-col-1"></div>
          <div *ngIf="userLoaded()" class="p-col-11 ijudy-link" (click)="routeToUpdateProfile()">
            Update Profile
          </div>

          <div class="p-col-1"></div>
          <div class="p-col-11 ijudy-link" (click)="routeToContactUs()">
            Contact Us
          </div>
          
          <div *ngIf="adminLoaded" class="p-col-1"></div>
          <div *ngIf="adminLoaded" class="p-col-11 ijudy-link" (click)="routeToAddRace()">
            Add Race
          </div>

          <div class="p-col-1"></div>
          <div class="p-col-11 ijudy-link" (click)="logoff()">
              Logoff
          </div>
      </div>

</p-sidebar>
