:host >>> .p-sidebar{
    background: #252526;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    margin-bottom: 16px;
    color: #fff;
    font-size: 18px;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    width: 250px;
}

.ijudy-link {
    cursor:pointer;
}

.ijudy-link:hover {
    color:#007ad9;
}

a:hover { 
    color:#007ad9;
}
a { 
    color:white;
}