.container {
  flex-direction: column;
  top: 0;
  border: 5px solid white;
}
  
header {
    align-items: center;
}
  
footer {
    height: 150px;
    display: flex;
    align-items: center;
  }
  
.content {
    min-height: calc(100vh - 94px - 94px);
 }