.on {
    font-size: 2.3em;
    color: green;
}
.off{
    font-size: 2.3em;
    color: darkgray;
}

.container
{
     display: flex;
     align-items: center;
     justify-content: center;
}
.item
{
     width: 200px;
}